<!-- <router-outlet></router-outlet> -->
 <!-- <app-navigation></app-navigation> -->

 <div class="main-content">
    <div class="left-bar">
        <div class="left-bar-body">
            <ul class="left-navigation">
                <!-- <li class="left-bar-items" routerLink="/navigation"><a>Home</a></li> -->
                <li class="left-bar-items" routerLink="/addcustomer"><a>Add Customer</a></li>
                <li class="left-bar-items" routerLink="/addaccount"><a>Add Account</a></li>
                <!-- <li class="left-bar-items"><a>Update</a></li> -->
                <li class="left-bar-items" routerLink="accounts"><a>Users</a></li>
                <li class="left-bar-items" routerLink="customers"><a>View Customers</a></li>
                <!-- <li class="left-bar-items"><a>Find By Id</a></li> -->
                <!-- <li class="left-bar-items"><a>Find By Balance</a></li> -->
                <!-- <li class="left-bar-items"><a>Login</a></li>
                <li class="left-bar-items"><a>Register</a></li> -->
            </ul>
        </div>
    </div>
    <div class="right-bar">
        <div class="right-bar-body">
            <router-outlet></router-outlet>
        </div>
        <!-- <add-customer></add-customer> -->
    </div>
</div>